.header-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .header-action .header-action-icon {
    margin-right: 28px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .header-action .header-action-icon.header-action-mrg-none {
    margin-right: 13px;
  }
  
  .header-action .header-action-icon > a {
    font-size: 24px;
    color: #333;
    line-height: 1;
    display: inline-block;
    position: relative;
  }
  
  .header-action .header-action-icon > a span.pro-count.blue {
    background-color: #3BB77E;
  }
  
  .header-action .header-action-icon:hover > a {
    color: #3BB77E;
  }
  
  .header-action .header-action-icon:hover .cart-dropdown-wrap {
    opacity: 1;
    visibility: visible;
    top: calc(100% + 10px);
  }
  
  .header-action.header-action-hm3 .header-action-icon.header-action-mrg-none2 {
    margin-right: 0px;
  }
  
  .header-action.header-action-hm3 .header-action-icon:last-child {
    margin-right: 0;
  }
  
  .header-action-2 .header-action-icon-2 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 10px;
  }
  
  .header-action-2 .header-action-icon-2 > a svg {
    width: 1em;
    height: 1em;
  }
  
  .header-action-2 .header-action-icon-2 > a span.pro-count.blue {
    background-color: #3BB77E;
  }
  
  .header-action-2 .header-action-icon-2:hover > a {
    color: #3BB77E;
    fill: #3BB77E;
  }
  
  .header-action-2 .header-action-icon-2:hover .cart-dropdown-wrap {
    opacity: 1;
    visibility: visible;
    top: calc(100% + 10px);
  }
  
  .header-middle-ptb-1 {
    padding: 25px 0 0 0;
  }
  