.title {
    font-size  : 30px;
    font-weight: 500;
    margin     : 0 auto;
}

.container {
    display         : flex;
    justify-content : space-between;
    padding         : 30px;
    background-color: #fff;

}

.addressContainer {
    background-color: #fff;
}

.address {
    display   : flex;
    gap       : 30px;
    padding   : 10px 30px 20px 30px;
    text-align: center;
}

.addressName {
    font-size : 18px;
    color     : #007aff;
    display   : flex;
    gap       : 10px;
    margin-top: 20px;
    padding   : 0 20px;
}

.border {
    background-image     : repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    background-position-x: -30px;
    background-size      : 116px 3px;
    height               : 3px;
    width                : 100%;
}

.cards {
    background-color: #fff;
}

.card {
    width           : 95%;
    margin          : 0 auto;
    background-color: #fff;
    border-radius   : 20px;
    padding         : 20px 40px;
    display         : flex;
    align-items     : center;
    gap             : 20px;
    font-size       : 14px;


    .name {
        width: 40%;

        h1 {
            font-size: 16px;
        }
    }
}

.summary {
    width: 20%;
}

.ship {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    background-color: #13aef50e;
    border          : 0.5px solid rgb(216, 211, 211);
    padding         : 20px 50px;
    line-height     : 30px;

    .message {
        display: flex;
        width  : 35%;
        gap    : 10px;

        .titleMessage {
            width      : 20%;
            display    : flex;
            align-items: center;
        }
    }

    .brand {
        display: flex;
        gap    : 40px;
    }
}

.pay {
    background-color: #fff;
    margin          : 20px 0;
    padding         : 40px;

    .way {
        display        : flex;
        justify-content: space-between;
        padding        : 0 0 20px 0;
        border-bottom  : 1px solid rgb(214, 208, 208);

        .wayTitle {
            font-weight: 500;
            font-size  : 20px;
        }

        .wayMain {
            display: flex;
            gap    : 20px;
        }
    }

    .totalContainer {
        line-height: 50px;
        text-align : right;
        padding: 20px 0;

        .total {
            color      : #007aff;
            font-size  : 30px;
            font-weight: 600;
        }
    }
}